* {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}
a,
img {
    text-decoration: none;
    border: 0;
    outline: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 1.6;
    margin: 0;
    color: antiquewhite;
    
    background:linear-gradient(200deg,#1a1818,#2a545c);
    background-size:100000% 100000%;
    -webkit-animation:ServiceAnimation 10s ease infinite;
    -moz-animation:ServiceAnimation 10s ease infinite;
    -o-animation:ServiceAnimation 10s ease infinite;
    animation:ServiceAnimation 10s ease infinite; 

}


/* Container */
.container {
    width: 100%;
    padding: 50px 0px;

    display: flex;
    justify-content: center;
    align-items: center;
}

  @-webkit-keyframes ServiceAnimation{0%
    {background-position:90% 0}50%
    {background-position:10% 100%}100%
    {background-position:90% 0}
  }
  @-moz-keyframes ServiceAnimation{0%
    {background-position:90% 0}50%
    {background-position:10% 100%}100%
    {background-position:90% 0}
  }
  @-o-keyframes ServiceAnimation{0%
    {background-position:90% 0}50%
    {background-position:10% 100%}100%
    {background-position:90% 0}
  }
  @keyframes ServiceAnimation{0%
    {background-position:90% 0}50%
    {background-position:10% 100%}100%
    {background-position:90% 0}
  }


.timer__block {
  display: flex;
  align-items: center;
  flex-direction: column;

    width: 350px;
    height: 520px;
    background-color: #101113;
    border: 10px solid black;
    border-radius: 10%;
    background-clip: content-box;


    box-shadow: 
    0px 1px 2px 0px rgba(0,255,255,0.7),
    1px 2px 4px 0px rgba(0,255,255,0.7),
    2px 4px 8px 0px rgba(0,255,255,0.7),
    2px 4px 16px 0px rgba(0,255,255,0.7);
}

.header {
  margin: 20px;
  padding-bottom: 30px;

  font-size: 19px;
}

.block__secundomer {
  width: 14em;
  height: 14em;
  margin-bottom: 60px;

  border-radius: 50%;
  line-height: 10em; 
  text-align: center; 
  box-shadow: inset 1px 5px 25px 0px rgba(0,255,255,0.7);
  border: 2px solid #3b9b9b;
}

.timer__display {
  font-size: 30px;
  margin: 30px;
}


.button {
    min-width: 70px;
    font-family: inherit;
    appearance: none;
    border: 0;
    border-radius: 5px;
    background: #101113;
    box-shadow: 0px 1px 10px 0px rgba(0,255,255,0.7);
    color: #fff;
    padding: 8px 16px;
    font-size: 1rem;
    cursor: pointer;
}

.button:hover {
    background: #307979;
    box-shadow: 0px 1px 10px 0px white;
}

.button:focus{
  outline: none;
  box-shadow: 0px 1px 10px 0px white;
}